<h1>Game Field</h1>

<%= game_state(@tally.game_state) %>

<p>
  Word so far: <%= words_so_far(@tally) %>
</p>

<p>
  Turns left: <%= @tally.turns_left %>
</p>

<p>
  Game state: <%= @tally.game_state %>
</p>


<%= form_for(@conn, Routes.hangman_path(@conn, :make_move), [as: :make_move, method: :put], fn f -> %>
  <%= text_input(f, :guess) %>
  <%= submit("Make next move") %>
<% end) %>
